* {
  padding: 0;
  margin: 0 auto;
  box-sizing: 0;
}

.awesomeBooks {
  text-align: center;
}

.bookDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  font-family: sans-serif;
  font-weight: 600;
}

.books {
  width: 80%;
}

.newBook:nth-child(odd) {
  background: rgb(172, 171, 171);
  color: white;
}

.books {
  border: 2px solid black;
}

.bookForm {
  padding-top: 20px;
  width: 40%;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: right;
}

.bookTitleAuthor {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  gap: 10px;
  margin-left: 12px;  
}

.by {
  font-family: sans-serif;
  font-weight: 600;

  font-size: 14px;
}

#title {
  width: 100%;
}

#author {
  width: 100%;
}

.delete {
  padding: 2px 2px;
  margin-right: 12px;
}

.hidy {
  display: none;
}