* {
  padding: 0;
  margin: 0;
}

.awesomeBooks {
  text-align: center;
}

.bookDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  font-family: sans-serif;
  font-weight: bold;
}

.books {
  border: 2px solid black;
}

.bookForm {
  padding-top: 20px;
  width: 40%;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: right;
}

.add {
  padding: 5px;
}

.formHeading {
  text-align: center;
}

.bookTitleAuthor {
  font-size: 14px;
}

.title {
  width: 100%;
  padding: 3px;
}

.author {
  width: 100%;
  padding: 3px;
}

.delete {
  padding: 2px 2px;
}

.bookSmallDiv {
  display: flex;
  gap: 5px;
  align-items: center;
}

.newBook:nth-child(even) {
  background-color: #fff;
}

.newBook:nth-child(odd) {
  background-color: #eee;
}

.bookSmallDiv p {
  font-size: 12px;
}
